.button {
    font-size: typo(16px);
    font-weight: 700;

    color: var(--color-black);
    background-color: var(--color-primary);

    padding: 8px 16px;
    border-radius: 100px;

    display: flex;
    align-items: center;
    width: fit-content;

    .icon {
        font-size: 24px;
    }

    &:hover {
        background-color: var(--color-white);
        color: var(--color-black);
        text-decoration: none;
    }
}
