.cards {
    display: grid;
    gap: var(--spacing-lg);

    @media (width <= $breakpoint-md) {
        grid-template-columns: repeat(2, 1fr);
        gap: var(--spacing-md);
    }

    @media (width <= $breakpoint-sm) {
        display: block;
    }
}

.card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 32px;

    &:nth-child(even) {
        .card__content {
            order: -1;
        }
    }
    @media (width <= $breakpoint-md) {
        grid-template-columns: 1fr;

        &:nth-child(even) {
            .card__content {
                order: unset;
            }
        }
    }
}

.card__media {
    img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
        aspect-ratio: 594/490;
        border-radius: 16px;
    }
}

.card__content {
    color: var(--color-white);

    h3 {
        font-weight: 600;
        font-size: typo(16px);
    }

    p {
        font-size: typo(24px, 32px);
    }

    .langage {
        font-size: typo(18px);
    }
}
