.header {
    padding: 25px 0;
    text-align: center;
    background-color: rgba($color: #000000, $alpha: 0.6);
    a {
        color: var(--color-white);
        &:hover {
            text-decoration: none;
        }
    }
}
