.hero {
    position: relative;
    height: 80vh;
    .wrapper {
        height: 100%;
    }

    @media (width <= $breakpoint-md) {
        height: 60vh;
    }
}

.hero__content {
    display: flex;
    align-items: flex-end;
    height: 100%;
}

.hero__media {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    img {
        display: block;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}
