.laboratoires {
    background-color: var(--color-black);

    h2 {
        color: var(--color-white);
        margin: 0 0 100px 0;
    }
}

.laboratoires.reactif {
    background-color: var(--color-primary);

    h2 {
        color: var(--color-black);
    }

    .card {
        .card__content {
            order: unset;
        }

        h3,
        p,
        .light {
            color: var(--color-black);
        }

        .button {
            background-color: var(--color-white);

            &:hover {
                background-color: var(--color-black);
                color: var(--color-white);
            }
        }
    }
}
