{% include "_partials/_header.html" %}

<!-- Votre contenu ici -->

<!-----------------------------------------Hero------------------------------------------------------------->
<section class="hero section">
    <div class="wrapper">
        <div class="hero__media">
            <img src="assets/images/hero.jpg" alt="espace" />
        </div>
        <div class="hero__content">
            <h1>
                Mon cahier
                <br />
                d’exercice
            </h1>
        </div>
    </div>
</section>

<!---------------------------------------Laboratoires--------------------------------------------------------------->
<section class="laboratoires section">
    <div class="wrapper">
        <h2>
            <span class="light">Mes premiers</span>
            laboratoires
        </h2>

        <div class="cards">
            <div class="card">
                <div class="card__media">
                    <img src="assets/images/labo_sem01.jpg" alt="laboratoire semaine 1" />
                </div>

                <div class="card__content">
                    <h3>SEM 01 - RÉVISION</h3>

                    <p>
                        <span class="light">Lorem ipsum dolor sit amet, consectetur</span>
                        adipiscing elit. Ultrices lorem non feugiat egestas amet.
                    </p>

                    <p class="langage light">HTML + CSS</p>

                    <a href="https://aloyer.dectim.ca/cours/cw3/sem01/" class="button">
                        VOIR LE LABORATOIRE
                        <svg class="icon">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>

            <div class="card">
                <div class="card__media">
                    <img src="assets/images/labo_sem01.jpg" alt="laboratoire semaine 1" />
                </div>

                <div class="card__content">
                    <h3>SEM 02 - TIMTOOLS</h3>

                    <p>
                        <span class="light">Lorem ipsum dolor sit amet, consectetur</span>
                        adipiscing elit. Ultrices lorem non feugiat egestas amet.
                    </p>

                    <p class="langage light">SCSS</p>

                    <a href="https://aloyer.dectim.ca/cours/cw3/sem02/" class="button">
                        VOIR LE LABORATOIRE
                        <svg class="icon">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>

            <div class="card">
                <div class="card__media">
                    <img src="assets/images/labo_sem01.jpg" alt="laboratoire semaine 1" />
                </div>

                <div class="card__content">
                    <h3>SEM 03 - PORTFOLIO LOUIS LAJOIE</h3>

                    <p>
                        <span class="light">Lorem ipsum dolor sit amet, consectetur</span>
                        adipiscing elit. Ultrices lorem non feugiat egestas amet.
                    </p>

                    <p class="langage light">HTML + SCSS</p>

                    <a href="https://aloyer.dectim.ca/cours/cw3/sem03/" class="button">
                        VOIR LE LABORATOIRE
                        <svg class="icon">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>

            <div class="card">
                <div class="card__media">
                    <img src="assets/images/labo_sem01.jpg" alt="laboratoire semaine 1" />
                </div>

                <div class="card__content">
                    <h3>SEM 04 - ICÔNES ET CLASSES JS</h3>

                    <p>
                        <span class="light">Lorem ipsum dolor sit amet, consectetur</span>
                        adipiscing elit. Ultrices lorem non feugiat egestas amet.
                    </p>
                    <p class="langage light">SCSS + JAVASCRIPT</p>

                    <a href="https://aloyer.dectim.ca/cours/cw3/sem04/" class="button">
                        VOIR LE LABORATOIRE
                        <svg class="icon">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section laboratoires reactif">
    <div class="wrapper">
        <h2>Mes laboratoires réactifs</h2>

        <div class="cards swiper">
            <div class="swiper-wrapper">
                <div class="card swiper-slide">
                    <div class="card__media">
                        <img src="assets/images/labo_sem01.jpg" alt="laboratoire semaine 1" />
                    </div>

                    <div class="card__content">
                        <h3>SEM 07 - SITE RÉACTIF</h3>

                        <p>
                            <span class="light">Lorem ipsum dolor sit amet, consectetur</span>
                            adipiscing elit. Ultrices lorem non feugiat egestas amet.
                        </p>
                        <p class="langage light">SCSS + JAVASCRIPT</p>

                        <a href="https://aloyer.dectim.ca/cours/cw3/sem07/" class="button">
                            VOIR LE LABORATOIRE
                            <svg class="icon">
                                <use href="#icon-chevron-right"></use>
                            </svg>
                        </a>
                    </div>
                </div>

                <div class="card swiper-slide">
                    <div class="card__media">
                        <img src="assets/images/labo_sem01.jpg" alt="laboratoire semaine 1" />
                    </div>

                    <div class="card__content">
                        <h3>SEM 08 - SITE RÉACTIF</h3>

                        <p>
                            <span class="light">Lorem ipsum dolor sit amet, consectetur</span>
                            adipiscing elit. Ultrices lorem non feugiat egestas amet.
                        </p>
                        <p class="langage light">SCSS + JAVASCRIPT</p>

                        <a href="https://aloyer.dectim.ca/cours/cw3/sem08/" class="button">
                            VOIR LE LABORATOIRE
                            <svg class="icon">
                                <use href="#icon-chevron-right"></use>
                            </svg>
                        </a>
                    </div>
                </div>

                <div class="card swiper-slide">
                    <div class="card__media">
                        <img src="assets/images/labo_sem01.jpg" alt="laboratoire semaine 1" />
                    </div>

                    <div class="card__content">
                        <h3>SEM 09 - SITE RÉACTIF</h3>

                        <p>
                            <span class="light">Lorem ipsum dolor sit amet, consectetur</span>
                            adipiscing elit. Ultrices lorem non feugiat egestas amet.
                        </p>
                        <p class="langage light">SCSS + JAVASCRIPT</p>

                        <a href="https://aloyer.dectim.ca/cours/cw3/sem09/" class="button">
                            VOIR LE LABORATOIRE
                            <svg class="icon">
                                <use href="#icon-chevron-right"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>

            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>

<!------------------------------------------------------------------------------------------------------>
{% include "_partials/_footer.html" %}
